.navbar {
  width: 100%;
  background: #155555;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem;

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover,
    &--active {
      color: orange;
      text-decoration: inherit;
    }
  }

  Button {
    background: darkorange;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
