@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/Hack Bold Italic Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Bold Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Italic Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Regular Nerd Font Complete Mono.ttf');
}

body {
  background: #0b1622;
  color: white;
  font-family: 'Hack Nerd Font Mono';
}
