@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack Bold Italic Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Bold Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Italic Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Regular Nerd Font Complete Mono.ttf');
}

body {
  background: #0b1622;
  color: white;
  font-family: 'Hack';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
