@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/Hack Bold Italic Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Bold Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Italic Nerd Font Complete Mono.ttf');
  src: url('/fonts/Hack Regular Nerd Font Complete Mono.ttf');
  font-display: swap;
}

:root {
  font-family: 'Hack Nerd Font Mono';
  color: white;
}

body {
  background: #0b1622;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
